In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Data.csv")
df

,variant_id,title_long,product_type,handle,color,store_name
0,10001,Abstract Green Jacquard Woven Design Saree Wit...,Silk saree,abstract-green-jacquard-woven-design-saree-wit...,NaN,Store_A
1,10002,Abstract leopard Print Satin Crepe Trendy Sare...,NaN,abstract-leopard-print-satin-crepe-trendy-sare...,NaN,Store_A
2,10003,Abstract leopard Print Satin Crepe Trendy Sare...,NaN,abstract-leopard-print-satin-crepe-trendy-sare...,NaN,Store_A
3,10004,Abstract Print Satin Crepe Trendy Saree in Bab...,NaN,abstract-print-satin-crepe-trendy-saree-in-bab...,NaN,Store_A
4,10005,Abstract Print Satin Crepe Trendy Saree in Bla...,NaN,causal-wear-abstract-print-satin-crepe-saree-i...,NaN,Store_A
...,...,...,...,...,...,...
5115,15116,Bhroad Black Tank Top,Tank Top,tank-top-bhroad-black,NaN,Store_G
5116,15117,Bhroad Tank Top,Tank Top,tank-top-bhroad,NaN,Store_G
5117,15118,Black Roots Tank Top,Tank Top,tank-top-black-roots,NaN,Store_G
5118,15119,Black Sign Tank Top,Tank Top,tank-top-black-sign,NaN,Store_G
5119,15120,Black Sign TTB Tank Top,Tank Top,tank-top-black-sign-ttb,NaN,Store_G

# Task 1 - Cleaning product_type Column

In [3]:
df.isnull().sum()

variant_id         0
title_long         0
product_type    2269
handle             0
color           5120
store_name         0
dtype: int64

In [4]:
df.product_type.unique()

array(['Silk saree', nan, 'Saris & Lehengas', 'Sunglasses',
       'Automatic Watch', 'Pajama Set', 'Sleepsuit', 'Top & Shorts Set',
       'Half Sleeve Onesie', 'T-Shirt', 'Full Sleeve Onesie',
       'ActiveCub Co-ords', 'Joggers', 'Sweatshirts', 'Topwear', 'Dress',
       'Saree', 'Bottomwear', 'Outerwear', 'Gift Cards', 'Sneakers',
       'T-shirt', 'Sliders', 'Face Mask', 'Loafers', 'Shoes', 'Socks',
       'Bangles', 'Anklets', 'Jewellery Sets', 'Bracelets', 'Rings',
       'Earrings', 'Hair Accessories', 'Mangalsutra', 'Necklace',
       'Maang Tikka', 'Nose Pins', "Women's Tank Tops", 'Tank Top'],
      dtype=object)

In [5]:
df.product_type.value_counts()

Sunglasses            384
Sneakers              376
Pajama Set            329
Dress                 322
Sleepsuit             280
Top & Shorts Set      194
Loafers               130
Topwear               122
Bottomwear             89
Saree                  60
Shoes                  57
Saris & Lehengas       52
Jewellery Sets         48
Automatic Watch        42
Bracelets              41
Half Sleeve Onesie     35
T-Shirt                35
Sliders                28
Full Sleeve Onesie     28
Earrings               21
Joggers                20
ActiveCub Co-ords      20
Sweatshirts            20
Maang Tikka            16
Tank Top               15
Outerwear              15
Bangles                11
Rings                   9
Women's Tank Tops       9
Face Mask               8
Mangalsutra             8
Socks                   6
T-shirt                 5
Gift Cards              5
Hair Accessories        3
Nose Pins               3
Anklets                 2
Silk saree              2
Necklace                1
Name: product_type, dtype: int64

In [6]:
df.product_type.nunique()

39

In [7]:
# converting to lower case to handle unique values for T-Shirt and T-shirt
df.product_type.str.lower().nunique()
df.product_type = df.product_type.str.lower()

In [11]:
# replacing values to handle unique values for tank top and saree
df.product_type = df.product_type.replace(["women's tank tops", "saris & lehengas"],["tank top", "sarees & lehengas"])

In [12]:
df.product_type.unique()

array(['silk saree', nan, 'sarees & lehengas', 'sunglasses',
       'automatic watch', 'pajama set', 'sleepsuit', 'top & shorts set',
       'half sleeve onesie', 't-shirt', 'full sleeve onesie',
       'activecub co-ords', 'joggers', 'sweatshirts', 'topwear', 'dress',
       'saree', 'bottomwear', 'outerwear', 'gift cards', 'sneakers',
       'sliders', 'face mask', 'loafers', 'shoes', 'socks', 'bangles',
       'anklets', 'jewellery sets', 'bracelets', 'rings', 'earrings',
       'hair accessories', 'mangalsutra', 'necklace', 'maang tikka',
       'nose pins', 'tank top'], dtype=object)

In [13]:
product_df = pd.read_csv("All Products.csv")
product_df.tail()

    product_type
239        SARIS
240        Saris
241       SAREES
242       Sarees
243       sarees

In [14]:
for i in range(df.shape[0]):
    
    p = [s for s in df.title_long.iloc[i].split(" ") if s in product_df.product_type.values]
    df.product_type.iloc[i] = (" ").join(p)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8200\3735466313.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.product_type.iloc[i] = (" ").join(p)

In [15]:
df.product_type.nunique()

143

In [16]:
df.product_type.unique()

array(['Saree Blouse', 'Satin Saree', 'Silk saree Blouse',
       'Silk Saree Blouse', 'Silk border', 'Silk Saree', 'Saree',
       'silk saree', 'Silk Saree Border', 'Silk blouse',
       'Silk Saree Border Blouse', 'Linen Silk Saree Blouse',
       'Linen Border Saree', 'Cotton Saree', 'Silk Border Saree',
       'Border Saree', 'Linen Silk Sarees Border', 'silk Saree border',
       'Linen Silk Saree', 'Silk Saree blouse', 'Silk Sari Blouse',
       'Silk Saree border', 'Linen Saree', 'saree', 'Linen Cotton Saree',
       'silk Border Saree', 'Linen Silk Saree Border Blouse',
       'Linen Saree Saree', 'Saree Border', 'Satin Silk Sarees Blouse',
       'Linen Border patti', 'Border Saree Blouse', 'Linen Cotton saree',
       'silk Saree', 'Border Blouse', 'Border Silk Saree Blouse',
       'Cotton Silk Saree Blouse', 'Linen saree', 'Silk saree',
       'Linen Silk Saree Border', 'Silk', 'Saree Saree',
       'Cotton Linen Saree', 'Cotton Silk Saree', 'Border Silk Saree',
       'Saree blouse', 'Silk Sarees', 'Silk Sarees Border',
       'Linen silk Saree', 'Linen Saree border', 'Dupatta',
       'silk saree blouse', 'linen Saree', 'Silk Saree border blouse',
       'Silk Saree Border blouse', 'Saree Saree Blouse',
       'Silk Saree Half Sleeve Blouse', '', 'Linen Saree Border Saree',
       'Sunglasses', 'sunglasses', 'Automatic Watch', 'Pajama Set',
       'Sleepsuit', 'Sets Top Shorts', 'Top Shorts Set',
       'Half Sleeve Onesie', 'T-Shirt', 'Full Sleeve Onesie',
       'Full Sleeve Pajama Set', 'Co-ord Set', 'Joggers', 'Sweatshirt',
       'Romper', 'Dress', 'Shirt Dress', 'Top', 'Culotte', 'Skirt',
       'Kurta', 'Co-ords', 'Wrap Skirt', 'Pallazo', 'Jacket',
       'Midi Skirt', 'Gift Card', 'Shrug', 'Jumpsuit', 'Kaftan', 'Tunic',
       'Maxi', 'Shirt', 'Pants', 'Dress Pants Set', 'Summer',
       'Summer Set', 'Set', 'Summer Maxi Dress', 'Wrap Dress', 'Shorts',
       'Blouse', 'Sneakers', 'Sliders', 'Face Mask', 'Trainers',
       'Linen Sneakers', 'Loafers', 'Socks', 'Bangle', 'Necklace',
       'Necklaces', 'Bangle Set', 'Bracelets', 'Jewellery Set', 'Ring',
       'Earrings', 'Set Bangles', 'Set Bangles Set', 'Bracelet',
       'Earring', 'Hair Set', 'Mangalsutra Earrings Set', 'Mangalsutra',
       'Bangle Bracelet', 'Mangalsutra Set', 'Jewellery Sets Ring',
       'Maang Tikka', 'Mangalsutra Set Earrings', 'Half Earrings',
       'Necklace Set', 'Jewellery Set Bracelets Ring', 'Nose Ring',
       'Set Bangle', 'Earring Set', 'Nosepin', 'Hair Accessories',
       'Accessories', 'Matha Pathi', 'MaangTikka',
       'Maang Tikka Earring Set', 'Mathapatti', 'Tank', 'Tank Top'],
      dtype=object)

In [19]:
df.product_type = df.product_type.str.lower()

In [20]:
df.product_type.nunique()

125

In [21]:
df.product_type.unique()

array(['saree blouse', 'satin saree', 'silk saree blouse', 'silk border',
       'silk saree', 'saree', 'silk saree border', 'silk blouse',
       'silk saree border blouse', 'linen silk saree blouse',
       'linen border saree', 'cotton saree', 'silk border saree',
       'border saree', 'linen silk sarees border', 'linen silk saree',
       'silk sari blouse', 'linen saree', 'linen cotton saree',
       'linen silk saree border blouse', 'linen saree saree',
       'saree border', 'satin silk sarees blouse', 'linen border patti',
       'border saree blouse', 'border blouse', 'border silk saree blouse',
       'cotton silk saree blouse', 'linen silk saree border', 'silk',
       'saree saree', 'cotton linen saree', 'cotton silk saree',
       'border silk saree', 'silk sarees', 'silk sarees border',
       'linen saree border', 'dupatta', 'saree saree blouse',
       'silk saree half sleeve blouse', '', 'linen saree border saree',
       'sunglasses', 'automatic watch', 'pajama set', 'sleepsuit',
       'sets top shorts', 'top shorts set', 'half sleeve onesie',
       't-shirt', 'full sleeve onesie', 'full sleeve pajama set',
       'co-ord set', 'joggers', 'sweatshirt', 'romper', 'dress',
       'shirt dress', 'top', 'culotte', 'skirt', 'kurta', 'co-ords',
       'wrap skirt', 'pallazo', 'jacket', 'midi skirt', 'gift card',
       'shrug', 'jumpsuit', 'kaftan', 'tunic', 'maxi', 'shirt', 'pants',
       'dress pants set', 'summer', 'summer set', 'set',
       'summer maxi dress', 'wrap dress', 'shorts', 'blouse', 'sneakers',
       'sliders', 'face mask', 'trainers', 'linen sneakers', 'loafers',
       'socks', 'bangle', 'necklace', 'necklaces', 'bangle set',
       'bracelets', 'jewellery set', 'ring', 'earrings', 'set bangles',
       'set bangles set', 'bracelet', 'earring', 'hair set',
       'mangalsutra earrings set', 'mangalsutra', 'bangle bracelet',
       'mangalsutra set', 'jewellery sets ring', 'maang tikka',
       'mangalsutra set earrings', 'half earrings', 'necklace set',
       'jewellery set bracelets ring', 'nose ring', 'set bangle',
       'earring set', 'nosepin', 'hair accessories', 'accessories',
       'matha pathi', 'maangtikka', 'maang tikka earring set',
       'mathapatti', 'tank', 'tank top'], dtype=object)

In [25]:
before = list(df.product_type.unique())

In [26]:
after = ['saree with blouse', 'satin saree', 'silk saree with blouse', 'silk with border',
       'silk saree', 'saree', 'silk saree with border', 'silk blouse',
       'silk saree with border and blouse', 'linen silk saree with blouse',
       'linen saree with border', 'cotton saree', 'silk saree with border',
       'saree with border', 'linen silk saree with border', 'linen silk saree',
       'silk saree with blouse', 'linen saree', 'linen cotton saree',
       'linen silk saree with border and blouse', 'linen saree',
       'saree with border', 'satin silk sarees with blouse', 'linen border patti',
       'saree with border and blouse', 'border with blouse', 'silk saree with border and blouse',
       'cotton silk saree with blouse', 'linen silk saree with border', 'silk',
       'saree', 'cotton linen saree', 'cotton silk saree',
       'silk saree with border', 'silk saree', 'silk saree with border',
       'linen saree border', 'dupatta', 'saree with blouse',
       'silk saree with half sleeve blouse', 'misc', 'linen saree with border',
       'sunglasses', 'automatic watch', 'pajama set', 'sleepsuit',
       'top & shorts set', 'top & shorts set', 'half sleeve onesie',
       't-shirt', 'full sleeve onesie', 'full sleeve pajama set',
       'co-ord sets', 'joggers', 'sweatshirt', 'romper', 'dress',
       'shirt dress', 'tops', 'culotte', 'skirt', 'kurta', 'co-ord sets',
       'wrap skirt', 'pallazo', 'jacket', 'midi skirt', 'gift card',
       'shrug', 'jumpsuit', 'kaftan', 'tunic', 'maxi', 'shirt', 'pants',
       'dress & pants set', 'misc', 'summer set', 'misc',
       'summer maxi dress', 'wrap dress', 'shorts', 'blouse', 'sneakers',
       'sliders', 'face mask', 'trainers', 'linen sneakers', 'loafers',
       'socks', 'bangle', 'necklace', 'necklace', 'bangle set',
       'bracelets', 'jewellery set', 'ring', 'earrings', 'bangle set',
       'bangle set', 'bracelet', 'earrings', 'hair set',
       'mangalsutra & earrings set', 'mangalsutra', 'bangle & bracelet',
       'mangalsutra set', 'jewellery set with ring', 'maangtikka',
       'mangalsutra set with earrings', 'earrings', 'necklace set',
       'jewellery set with bracelets and ring', 'nose ring', 'bangle set',
       'earrings set', 'nose pin', 'hair accessories', 'hair accessories',
       'mathapatti', 'maangtikka', 'maang tikka and earrings set',
       'mathapatti', 'tank tops', 'tank tops']

In [29]:
df.product_type = df.product_type.replace(before, after)

In [30]:
df.product_type.nunique()

99

In [31]:
df.product_type.unique()

array(['saree with blouse', 'satin saree', 'silk saree with blouse',
       'silk with border', 'silk saree', 'saree',
       'silk saree with border', 'silk blouse',
       'silk saree with border and blouse',
       'linen silk saree with blouse', 'linen saree with border',
       'cotton saree', 'saree with border',
       'linen silk saree with border', 'linen silk saree', 'linen saree',
       'linen cotton saree', 'linen silk saree with border and blouse',
       'satin silk sarees with blouse', 'linen border patti',
       'saree with border and blouse', 'border with blouse',
       'cotton silk saree with blouse', 'silk', 'cotton linen saree',
       'cotton silk saree', 'linen saree border', 'dupatta',
       'silk saree with half sleeve blouse', 'misc', 'sunglasses',
       'automatic watch', 'pajama set', 'sleepsuit', 'top & shorts set',
       'half sleeve onesie', 't-shirt', 'full sleeve onesie',
       'full sleeve pajama set', 'co-ord sets', 'joggers', 'sweatshirt',
       'romper', 'dress', 'shirt dress', 'tops', 'culotte', 'skirt',
       'kurta', 'wrap skirt', 'pallazo', 'jacket', 'midi skirt',
       'gift card', 'shrug', 'jumpsuit', 'kaftan', 'tunic', 'maxi',
       'shirt', 'pants', 'dress & pants set', 'summer set',
       'summer maxi dress', 'wrap dress', 'shorts', 'blouse', 'sneakers',
       'sliders', 'face mask', 'trainers', 'linen sneakers', 'loafers',
       'socks', 'bangle', 'necklace', 'bangle set', 'bracelets',
       'jewellery set', 'ring', 'earrings', 'bracelet', 'hair set',
       'mangalsutra & earrings set', 'mangalsutra', 'bangle & bracelet',
       'mangalsutra set', 'jewellery set with ring', 'maangtikka',
       'mangalsutra set with earrings', 'necklace set',
       'jewellery set with bracelets and ring', 'nose ring',
       'earrings set', 'nose pin', 'hair accessories', 'mathapatti',
       'maang tikka and earrings set', 'tank tops'], dtype=object)

# Task 2 -  Adding the Color Values to color Column

In [33]:
color_df = pd.read_csv("Colors.csv")
color_df

      color_name
0          Beige
1          Black
2           Blue
3      Blue-gray
4    Blue-violet
..           ...
293         grey
294       coffee
295       orchid
296        pista
297     lovender

[298 rows x 1 columns]

In [43]:
for i in range(df.shape[0]):
    
    c = [s for s in df.title_long.iloc[i].split(" ") if s in color_df.color_name.values]
    df.color.iloc[i] = (" - ").join(c)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8200\156725004.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.color.iloc[i] = (" - ").join(c)

In [44]:
df.color

0               Green
1        White - Blue
2         White - Red
3                Pink
4       Black - White
            ...
5115            Black
5116
5117            Black
5118            Black
5119            Black
Name: color, Length: 5120, dtype: object

In [45]:
df.color.nunique()

367

In [46]:
df.color = df.color.str.lower()

In [47]:
df.color.nunique()

350

In [48]:
df[df.color == ""]

,variant_id,title_long,product_type,handle,color,store_name
45,10046,Attractive Look SkyBlue Kanjivaram Silk Saree ...,silk saree with blouse,attractive-look-skyblue-kanjivaram-silk-saree-...,,Store_A
174,10175,Chiku Colour Tassar Silk Weaving Saree With B...,silk saree,copy-of-basil-green-tassar-silk-weaving-saree-...,,Store_A
175,10176,Chiku Linen Silk Saree With Zari Woven Pallu &...,linen silk saree with border and blouse,linen-silk-saree-with-zari-woven-pallu-border-...,,Store_A
186,10187,Cookie Dough Zari Base Handloom Weaving Saree,saree,attractive-cream-zari-base-handloom-weaving-saree,,Store_A
288,10289,Fabulous Rosewood Soft Cotton Silk Patola Saree,cotton silk saree,fabulous-rosewood-soft-cotton-silk-patola-saree,,Store_A
...,...,...,...,...,...,...
5110,15111,Alciati TTB Tank Top,tank tops,tank-top-alciati-ttb,,Store_G
5111,15112,Alight Tank Top,tank tops,alight-tank-top,,Store_G
5112,15113,Aneau Tank Top,tank tops,tank-top-aneau,,Store_G
5113,15114,Aneau TTB Tank Top,tank tops,tank-top-aneau-ttb,,Store_G
5116,15117,Bhroad Tank Top,tank tops,tank-top-bhroad,,Store_G

In [49]:
df.color = df.color.replace("", "other")

In [50]:
df.color

0               green
1        white - blue
2         white - red
3                pink
4       black - white
            ...
5115            black
5116            other
5117            black
5118            black
5119            black
Name: color, Length: 5120, dtype: object

In [51]:
df.to_csv("Output_Data.csv")